
#nav-bar {
    position: fixed;
    display: block;
    height: 80px;
    /* background: #00a087; */
    width: 100%;
    background: purple;
    /* color: #e8fdff; */
    color: #eee;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 0px;
    padding-bottom: 0px;
   }
   #nav-bar .logo {
     width: 80px;
     height:80px;
     float: left;
   }
   #nav-bar .header {
     float: left;
     padding-left: 10px;
     line-height: 80px;
     font-size: 2em;
   }
#nav-bar input {
  float: right;
  margin-top: 15px;
  padding: 15px;
  border: 1px solid purple;
  border-radius: 10px;
  background-color: #eee;
}

#nav-bar input:hover {
  color: hotpink;
  border-color: hotpink;
}